.hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  justify-content: flex-end;
  gap: 15px;
  align-items: right;
  flex-direction: column;
  font-weight: 700;
  margin: 30px 0px;
  font-size: 1.2rem;
  z-index: 1;
}
.hamburger a {
  color: #000;
}
.hamburgerMenu {
  display: none;
  text-align: right;
}
@media all and (max-width: 800px) {
  .hamburgerMenu {
    display: block;
  }
}
