.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: left;
  flex-direction: row;
  font-weight: 900;
  margin: 30px 0px;
  font-size: 1.2rem;
  /* text-shadow: 1px 1px 1px var(--shadow); */
}
.navbar a:hover {
  /* text-shadow: 1px 1px 1px var(--shadow); */
  text-decoration: none;
}
.hamburgerMenu {
  font-size: 26px;
  display: none;
  text-align: right;
  margin-bottom: 20px;
}
.showNavBar {
  display: block !important;
}
.themeSwitch {
  margin-left: auto;
  text-align: right;
}
.streaming {
  color: red;
}
@media all and (max-width: 800px) {
  .navbar {
    display: none;
    text-align: right;
    margin: 10px 10px;
    z-index: 1;
  }
  .hamburgerMenu {
    margin: 30px 10px 0px 0px;
    display: block;
  }
}
