.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  flex-direction: row;
  font-weight: 900;
  margin: 30px 0px;
  font-size: 1.2rem;
}
.navbar a {
  color: #000;
}
.navbar a:hover {
  color: #900;
  text-decoration: none;
  text-shadow: 1px 1px #bbb;
}
.hamburgerMenu {
  display: none;
  text-align: right;
}
.showNavBar {
  display: block;
}

@media all and (max-width: 800px) {
  .navbar {
    display: none;
    text-align: right;
    margin: 30px 10px;
  }
  .hamburgerMenu {
    display: block;
  }
}
