@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --text: #000;
  --background: #ddd;
  --link: #000;
  --hover: #e67e22;
  --shadow: #333;
  --lightText: #666;
}

[data-theme='dark'] {
  /* Dark Theme */
  --text: #fff;
  --background: #222222;
  --link: #fff;
  --hover: #e67e22;
  --shadow: #000;
  --lightText: #ccc;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

.post .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.post a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.post .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.post *:hover > .anchor {
  @apply visible;
}

.post img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.post p {
  @apply my-4;
}

.post h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.post h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.post h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.post h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.post strong {
  @apply font-medium;
}

.post > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  background-color: var(--background);
  color: var(--text);
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', 'system-ui';
  }
}

@layer base {
  h1 {
    @apply text-3xl font-bold mt-4 mb-2;
  }
  h2 {
    @apply text-xl font-bold mt-4 mb-2;
  }
  h3 {
    @apply text-lg font-bold mt-4 mb-2;
  }
  .post ul,
  .about ul {
    @apply list-square pl-6;
  }
  .post ol {
    @apply list-square pl-6;
  }
}
a:hover {
  @apply no-underline;
  color: var(--hover);
}
.customZoom [data-rmiz-modal-content] {
  filter: drop-shadow(2px 6px 4px var(--shadow));
}
.customZoom [data-rmiz-modal-overlay],
.customZoom [data-rmiz-modal-img] {
  transition-duration: 0.8s;
  transition-timing-function: linear;
}
.customZoom [data-rmiz-modal-overlay='hidden'] {
  background-color: rgb(56, 58, 89, 0);
}
.customZoom [data-rmiz-modal-overlay='visible'] {
  background-color: rgb(0, 0, 0);
}
.customZoom [data-rmiz-btn-unzoom] {
  background-color: #ccc;
  color: #000;
}
.customZoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.4rem;
  outline: 0.2rem solid #ddd;
}
