@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@400;700&display=swap');
:root {
  --lightTextColor: #000;
  --lightBackgroundColor: #ddd;
  --lightLinkColor: #000;
  --lightHoverColor: #888;
  --lightShadow: #000;
  --lightLText: #666;

  /* Dark Theme */
  --darkTextColor: #fff;
  --darkBackgroundColor: #151515;
  --darkLinkColor: #fff;
  --darkHoverColor: rgb(139, 139, 139);
  --darkShadow: #000;
  --lightDText: #ccc;

  --text: var(--lightTextColor);
  --background: var(--lightBackgroundColor);
  --hover: var(--lightHoverColor);
  --link: var(--lightLinkColor);
  --shadow: var(--lightShadow);
  --lightText: var(--lightLText);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background);
  color: var(--text);
}
* {
  /* transition: all 100ms !important; */
  /* box-sizing: border-box; */
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--hover);
  text-shadow: 1px 1px 1px var(--shadow);
}
img {
  max-width: 100%;
  display: block;
}
::selection {
  background-color: var(--shadow);
  color: var(--lightDText);
}
