.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px var(--shadow);
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px var(--shadow);
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.borderCircle {
  border-radius: 100%;
}
.profileImg {
  border-radius: 100%;
  line-height: 0px;
  box-shadow: 0px 0px 10px var(--shadow), 0px 0px 10px var(--shadow);
}
.colorInherit {
  color: inherit;
}
.padding1px {
  padding-top: 1px;
}
.list {
  list-style: square;
  padding: 0;
  margin: 0;
}
.listItem {
  width: 360px;
  height: auto;
  font-weight: 700;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 3px 3px 10px var(--shadow);
}
.listItem > a,
.listItem > .lightText {
  color: #fff;
  text-shadow: 1px 1px 1px #000 !important;
}
.listItem > a > span {
  border-radius: 10px 10px 0 0;
}
.listItem:hover {
  box-shadow: 3px 3px 5px #000;
}
.listItem:hover img {
  opacity: 0.3;
}
.listItemText {
  padding: 5px 10px;
}
.lightText {
  color: var(--lightText);
  font-size: 0.75rem;
}
.redText {
  color: #c00;
}
.streaming a {
  color: #c00 !important;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.textRight {
  text-align: right;
}
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
}
.contact .icon {
  width: 50px;
}
.contact .rowname {
  flex-basis: 90%;
}
.contact a {
  margin-right: 10px;
}
.contact a:hover {
  text-decoration: none;
}
.categories {
  margin: 10px 0px;
}
.tagsWrapper {
  display: inline-block;
}
.tags {
  box-sizing: border-box;
  background-color: #333;
  border-radius: 8px;
  padding: 5px;
  margin-right: 3px;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000 !important;
  font-weight: 400;
}
.tags:hover {
  background-color: #666;
}
.chartArea {
  box-sizing: content-box;
  box-shadow: 0px 0px 15px var(--shadow);
  line-height: normal;
}
.footer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--lightText);
  font-size: 1.25rem;
}
.email {
  color: #bb001b;
}
.googleScholar {
  color: #4C8BF5;
}
.researchGate {
  color: #0cb;
}
.github {
  color: #4078c0;
}
.linkedin {
  color: #0e76a8;
}
.twitter {
  color: #1da1f2;
}
.textBold {
  font-weight: 600;
}
.postBody > div > div > span, .postBody > div > ul > li > div > img {
  filter: drop-shadow(2px 6px 4px var(--shadow));
}
.postBody strong > a {
  font-size: 1.25rem;
}
.posts {
  display: flex;
  gap: 30px;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
.posts img {
  border-radius: 10px 10px 0 0;
}
.postImage {
  margin: auto;
  border-radius: 15px;
}
.about p,
.about blockquote {
  font-size: 16px;
  margin: 0px 0px;
  padding: 0;
}
.about h1 {
  color: var(--hover);
  text-shadow: 1px 1px 0px var(--shadow), 1px 1px 0px var(--shadow);
  margin: 0 0 10px 0;
}
.about h2 {
  color: var(--hover);
  text-shadow: 1px 1px 0px var(--shadow), 1px 1px 0px var(--shadow);
  margin: 15px 0 5px 0;
  font-size: 22px;
}
.about ul {
  list-style: square;
  margin: 5px 0 15px 0;
}
.about .cv {
  margin-left: 20px;
}
.about table {
  font-size: 16px;
}
.about table td {
  height: 16px;
}
.about table td:first-child {
  width: 500px;
}
.about table td:nth-child(2n) {
  width: 300px;
}
@media all and (max-width: 700px) {
  .contact .rowname {
    flex-basis: 85%;
  }
}
@media all and (max-width: 800px) {
  .posts {
    flex-direction: column;
  }
}
